/* First and Second Content */
.first-content .text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.first-content .text h1{
    font-size: 2.5rem;
}

.container.second-content{
    margin-top: 3rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.second-content{
    border: 2px solid #292829;
    box-shadow: 0 0 10px #292829;
    border-radius: 10px;
}

.second-content input{
    width: 100%;
    padding: 1rem;
    font-size: 1.185rem;
    border: 1px solid #292829;
    outline: none;
    color: #292829;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.second-content h2{
    text-align: center;
    font-size: 1.875rem;
    margin-bottom: 2rem;
}

.second-content .services{
    display: flex;
    text-align: center;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.3;
}

.second-content .services i{
    font-size: 20px;
    margin-bottom: 1rem;
    background-color: #292829;
    color: white;
    padding: 1.5rem;
    border-radius: 5px;
    width: 75px;
}

/* Third Content */
.container.third-content{
    display: flex;
    align-items: center;
}

.third-content .image{
    flex: 1;
}

.third-content .text{
    flex: 1;
    line-height: 1.3;
}

.third-content h2,
.third-content p{
    margin-bottom: 1rem;
}

.third-content .buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.third-content .buttons button.button{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.third-content .buttons button:nth-child(1){
    background-color: #FFDE15;
    color: black;
}

.third-content .buttons i{
    font-size: 1.5rem;
}

/* Fourth Content */
.fourth-content{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.fourth-content h2{
    margin-bottom: 1rem;
}

.fourth-content .image{
    width: 833px;
    height: 468px;
    background-color: #292829;
    color: white;
    align-self: center;
}

/* Fifth Content */
.fifth-content{
    display: flex;
    flex-direction: column;
}

.fifth-content h2{
    margin-bottom: 3rem;
    text-align: center;
}

.fifth-content .button{
    margin-left: auto;
    margin-right: auto;
    background-color: #FFDE15;
    color: #292829;
}